
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    height: 100px;
    background-color: #1D293A;
    align-items: center;
}

.nav-items ul {
    display: flex;
    gap: 25px;
}
.nav-items ul li a, .logo{
    color: white;
    text-transform: uppercase;
}
.nav-items ul li a{
    font-weight: 500;
}