@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
.banner {
  background-image: url(../../../../public/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.banner h1,
h2 {
  font-family: "Rubik", sans-serif;
  color: white;
  text-align: center;
}
.banner h2 {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 15px;
}
.banner h1 {
  font-size: 82px;
  font-weight: bold;
}