.products-container h1{
    text-align: center;
    margin: 50px 0px;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* place-content: center; */
    place-items: center;
    grid-row-gap: 50px;
}
.product-btn{
    border: none;
    background-color: crimson;
    color: white;
    font-size: 18px;
    width: 250px;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    /* padding-top: 30px; */
    cursor: pointer;
    margin-top: 100px !important;
    gap:10px;
}